@charset "UTF-8";
/* variable and function, mixin ... */
html {
  font-size: 62.5%;
  color: #1a2b5f;
  font-family: poppins;
}

a {
  color: #1a2b5f;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  /* fix tránh việc kích cỡ ảnh to hơn thẻ cha dẫn tới việc tràn box
  => set cho nó max chỉ bằng kích cỡ thẻ cha chứa nó */
  display: block;
  /* set đc width và height */
  max-width: 100%;
}

.box {
  width: 10rem;
  height: 10rem;
  border: 2rem solid red;
}

body {
  background-color: white;
}

.wrapper {
  max-width: 1440px;
  margin: 0 atuo;
}

.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.header {
  margin-top: 40px;
  font-size: 1.6rem;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header__nav-logo {
  font-size: 3.5rem;
  font-weight: bold;
}
.header__nav-logo span {
  color: #ffc87a;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  flex-wrap: nowrap;
}
.header__nav-item {
  margin-left: 50px;
  padding: 10px 20px;
  cursor: pointer;
}
.header__nav-item a {
  transition: border 3s linear color 3s linear;
  -webkit-transition: border 3s linear color 3s linear;
  -moz-transition: border 3s linear color 3s linear;
  -ms-transition: border 3s linear color 3s linear;
  -o-transition: border 3s linear color 3s linear;
}
.header__nav-item a:hover {
  color: #ffc87a;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.header__nav-item:last-child {
  border: 1px solid #1a2b5f;
  border-radius: 21px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -ms-border-radius: 21px;
  -o-border-radius: 21px;
}
.header__nav-item:last-child:hover {
  border: 1px solid #ffc87a;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.header__nav-item:last-child:hover a {
  color: #ffc87a;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.header__nav-item:first-child::after {
  content: "";
  display: block;
}
.header__banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 136px;
  margin-bottom: 180px;
  color: #1a2b5f;
}
.header__banner h1 {
  font-size: 8.4rem;
  font-weight: bold;
  margin-bottom: 36px;
}
.header__banner p {
  font-size: 3.7rem;
  text-align: center;
  color: #7d86a4;
  margin-bottom: 45px;
}
.header__banner .header__nav--login {
  font-weight: 500;
  padding: 18px 36px;
  border: 1px solid #1a2b5f;
  border-radius: 36px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
}
.header__banner .header__nav--login:hover {
  border: 1px solid #ffc87a;
}
.header__banner .header__nav--login:hover a {
  color: #ffc87a;
}
.header__banner .header__nav--login:last-child {
  border: 1px solid #ffea7b;
  background-image: linear-gradient(#ffea7b, #ffc97a);
}
.header__banner .header__nav--login:last-child:hover {
  border: 1px solid #ffc87a;
}
.header__banner .header__nav--login:last-child:hover a {
  color: #1a2b5f;
}
.header__slide .header__slide-list {
  margin-bottom: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.header__slide-item {
  text-align: left;
  width: 270px;
  height: 370px;
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center-start;
  flex-wrap: nowrap;
}
.header__slide-item:nth-child(1) {
  box-shadow: 0px 60px rgba(255, 242, 247, 0.2);
}
.header__slide-item:nth-child(2) {
  box-shadow: 0px 60px rgba(255, 237, 236, 0.2);
}
.header__slide-item:nth-child(3) {
  box-shadow: 0px 60px rgba(239, 242, 255, 0.2);
}
.header__slide-item:nth-child(4) {
  box-shadow: 0px 60px rgba(255, 248, 237, 0.2);
}
.header__slide-item-box {
  padding: 0px 30px;
}
.header__slide-item-box img {
  border: 0px solid white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: 210px;
  height: 230px;
  margin-bottom: 40px;
}
.header__slide-item-box h2 {
  font-size: 2.2rem;
  color: #1a2b5f;
  font-weight: 500;
  margin-bottom: 30px;
  text-indent: 5px;
}
.header__slide-item-box a {
  color: #7d86a4;
  text-align: left;
  padding: 0px 5px;
  font-size: 1.4rem;
}
.header__slide-item-box-arow {
  padding-left: 20px;
}

/* Main content */
.main__row {
  width: 100%;
  height: 715px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 150px;
}
.main__row-reverse {
  margin-top: 320px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.main__row-reverse .main__column-list {
  text-decoration: none;
}
.main__row-reverse .main__column-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.main__row-reverse .item-one::before {
  content: "•";
  color: #ff6adf;
  font-size: 10rem;
}
.main__row-reverse .item-two::before {
  content: "•";
  color: #92fa3c;
  font-size: 10rem;
}
.main__row-reverse .item-three::before {
  content: "•";
  color: #1ec0f4;
  font-size: 10rem;
}
.main__row-reverse .item-four::before {
  content: "•";
  color: #ff899c;
  font-size: 10rem;
}
.main__row--three .main__column-list {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-evenly;
  flex-wrap: wrap;
}
.main__row--three .main__column-list .main__column-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #6cc7d2;
  width: 50%;
  padding: 20px 20px 20px 0;
}
.main__row--three .main__column-list .main__column-item i {
  font-size: 2rem;
  padding: 12px 15px;
  background-color: #e4fbfe;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 20px;
}
.main__row--three .main__column-list .main__column-item:nth-child(2) i {
  background-color: #fef6e5;
  color: #f6c04b;
}
.main__row--three .main__column-list .main__column-item:nth-child(3) i {
  background-color: #f9eefc;
  color: #b482e4;
}
.main__row--three .main__column-list .main__column-item:nth-child(4) i {
  background-color: #ebfbee;
  color: #82c68f;
}
.main__row--three .main__column-list .main__column-item h3 {
  color: #1a2b5f;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 16px;
}
.main__row--three .main__column-list .main__column-item p {
  font-size: 1.4rem;
  color: #7d86a4;
  font-weight: 200;
  text-decoration: none;
}
.main__column-large {
  width: 605px;
  height: 100%;
  max-width: 51.709%;
  background-color: rgba(255, 248, 222, 0.5);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.main__column-large-img {
  max-width: 605px;
  max-height: 715px;
  height: 80%;
  width: 80%;
  border: none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.main__column-large-img--special {
  position: absolute;
  top: 140px;
  right: 0px;
  height: 100%;
  width: 100%;
}
.main__column-large-two {
  background-color: rgba(251, 242, 255, 0.5);
}
.main__column-large-three {
  background-color: rgba(255, 237, 243, 0.5);
}
.main__column-small {
  width: 460px;
  height: 100%;
  max-width: 39.317%;
  padding: 100px 0 0 0;
}
.main__column-title {
  font-size: 3.5rem;
  text-align: left;
  line-height: 4.6rem;
  color: #1a2b5f;
}
.main__column-des {
  margin: 35px 0;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #7d86a4;
}
.main__column-list {
  list-style: none;
  text-decoration: underline;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
}
.main__column-item {
  padding-bottom: 36px;
}
.main__column-item-link {
  color: #1a2b5f;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.main__column-item:hover .main__column-item-link {
  color: #ffc87a;
}
.main__column-btn {
  cursor: pointer;
  outline: none;
  padding: 16px 50px;
  font-size: 2rem;
  font-weight: bold;
  color: #1a2b5f;
  background-image: linear-gradient(#ffea7b, #ffc97a);
  box-shadow: 0px 20px rgba(255, 234, 123, 0.1);
  border: none;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.partnes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 129px;
}
.partnes h2 {
  font-size: 4rem;
  color: #1a2b5f;
  padding: 0 256px 70px 256px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #1a2b5f;
}
.partnes__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.partnes__item {
  padding: 65px 55px 96px 55px;
}
.partnes__item-link {
  width: 100%;
  height: 100%;
}

.service {
  margin-bottom: 180px;
  text-align: center;
}
.service-title {
  font-size: 3rem;
  color: #1a2b5f;
  font-weight: 600;
  margin-bottom: 36px;
}
.service-descript {
  font-size: 1.6rem;
  color: #1a2b5f;
  margin-bottom: 60px;
}
.service-descript--private {
  color: #ffc87a;
}
.service-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.service-item {
  padding-right: 30px;
}
.service-item:last-child {
  padding-right: 0;
}
.service-item-img {
  width: 100%;
  height: auto;
}

.subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 55px;
  padding: 0px 0px 86px 0;
  border-bottom: 4px solid #1a2b5f;
}
.subscribe-title {
  font-size: 2.5rem;
  width: 47.43589%;
  line-height: 3.5rem;
}
.subscribe-main {
  background-color: 0;
  height: auto;
  width: 52.56411%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.subscribe-main-content {
  width: 100%;
  height: 60px;
  max-width: 615px;
  background-color: #f2f1f6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.subscribe-main-content-input {
  font-size: 1.6rem;
  line-height: 2.6rem;
  padding: 16px;
  border: none;
  flex-grow: 1;
  outline: none;
  background-color: #f2f1f6;
}
.subscribe-main-content-input::placeholder {
  color: #c5c5ce;
}
.subscribe-main-content-label {
  font-size: 1.4rem;
  justify-self: flex-end;
  font-weight: bold;
  margin-right: 24px;
}
.subscribe-main-content-icon {
  width: 100%;
  align-self: start;
  padding-left: 40px;
  font-size: 2.8rem;
  margin-top: 45px;
}
.subscribe-main-content-icon .fab {
  margin-right: 42px;
}

.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-bottom: 196px;
  margin-bottom: 30px;
  border-bottom: 2px solid #a9aec2;
}
.footer__menu-col {
  flex-grow: 1;
  font-size: 1.6rem;
}
.footer__menu-col-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.footer__menu-col-list-item {
  flex-grow: 1;
}
.footer__menu-col-link {
  display: block;
  width: 100%;
  padding: 16px 0;
  font-weight: 500;
}
.footer__menu-col-link:hover {
  color: #ffc87a;
}
.footer__infor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 190px;
  font-size: 1.5rem;
}
.footer__infor-col {
  flex-grow: 1;
  justify-self: center;
}
.footer__infor-col:last-child {
  text-align: right;
}
.footer__infor-col-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.footer__infor-col-link {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
