/* variable and function, mixin ... */
$primary-color: #ffc87a;

$text-color: #1a2b5f;
$second-text-color: #7d86a4;

@mixin flexbox($dir: row,$align: center, $justify: center, $wrap: nowrap){
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}
















html{
    font-size: 62.5%; // 1rem = 10px;
    color: $primary-color;
    font-family: poppins;

}
a{
    color: $text-color;
    text-decoration: none;
}
*,
*::before,
*::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
img{ /* fix tránh việc kích cỡ ảnh to hơn thẻ cha dẫn tới việc tràn box
     => set cho nó max chỉ bằng kích cỡ thẻ cha chứa nó */
    display: block; /* set đc width và height */
    max-width: 100%;

}
.box{
    width: 10rem;
    height: 10rem;
    border: 2rem solid red;

}
body{
    background-color: #e1e5f6;
}

.wrapper{
    max-width: 1440px;
    margin: 0 atuo;
}
.container{
    max-width: 1200px;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.header{
    margin-top: 40px;
    font-size: 1.6rem;
    
    &__nav{
        @include flexbox(row,center, space-between );
        &-logo{
            font-size: 3.5rem;
            font-weight: bold;
            span{
                color: $primary-color;
            }
        }
        &-list{
            @include flexbox(row, space-between, center);

        }
        &-item{
            margin-left: 50px;
            padding: 10px 20px;
            cursor: pointer;
            a{
                transition: border 3s linear color 3s linear;
                -webkit-transition: border 3s linear color 3s linear;
                -moz-transition: border 3s linear color 3s linear;
                -ms-transition: border 3s linear color 3s linear;
                -o-transition: border 3s linear color 3s linear;

                &:hover{
                    color: $primary-color;
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                }
            }
            &:last-child{
                border: 1px solid $text-color;
                border-radius: 21px;
                -webkit-border-radius: 21px;
                -moz-border-radius: 21px;
                -ms-border-radius: 21px;
                -o-border-radius: 21px;
                &:hover{
                    border: 1px solid $primary-color;
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    a{
                        color: $primary-color;
                        transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                        -moz-transition: all 0.3s;
                        -ms-transition: all 0.3s;
                        -o-transition: all 0.3s;
                    }
                }
                    
            }
            &:first-child::after{
                content: '';
                display: block;
            }
        }
    }


    &__banner{
        @include flexbox(column, center, center);
        margin-top: 136px;
        margin-bottom: 180px;
        color: $text-color;
        h1{
            font-size: 8.4rem;
            font-weight: bold;
            margin-bottom: 36px;
        }
        p{
            font-size: 3.7rem;
            text-align: center;
            color: $second-text-color;
            margin-bottom: 45px;
        }
        .header__nav--login{
            font-weight: 500;
            padding: 18px 36px;
            border: 1px solid $text-color;
            border-radius: 36px;
            -webkit-border-radius: 36px;
            -moz-border-radius: 36px;
            -ms-border-radius: 36px;
            -o-border-radius: 36px;
            &:hover{
                
                border: 1px solid $primary-color;
                a{
                    color: $primary-color;
                }
            }
        }
        .header__nav--login:last-child{
            border: 1px solid #ffea7b; // #ffc97a
            background-image: linear-gradient(#ffea7b,#ffc97a);;
            &:hover{
                
                border: 1px solid $primary-color;
                a{
                    color: $text-color;
                }
            }
        }
    }

    &__slide{
        .header__slide-list{
            margin-bottom: 180px;
            @include flexbox(row, flex-start, space-around);
        }
        &-item{
            text-align: left;
            width: 270px;
            height: 370px;
            border: none;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            

            background-color: white;
            @include flexbox(column, center-start, flex-start);
            &:nth-child(1){
                box-shadow: 0px 60px rgba(255, 242, 247,0.2);
            }
            &:nth-child(2){
                box-shadow: 0px 60px rgba(255, 237, 236,0.2);
            }
            &:nth-child(3){
                box-shadow: 0px 60px rgba(239, 242, 255,0.2);
            }
            &:nth-child(4){
                box-shadow: 0px 60px rgba(255, 248, 237,0.2);
            }

            &-box{
                padding: 0px 30px;
                img{
                    border: 0px solid white;
                    border-radius: 30px;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    -ms-border-radius: 30px;
                    -o-border-radius: 30px;
    
                    width: 210px;
                    height: 230px;
                    margin-bottom: 40px;
                }
                h2{
                    font-size: 2.2rem;
                    color: $text-color;
                    font-weight: 500;
                    margin-bottom: 30px;
                    text-indent: 5px;
                }
                a{
                    color: $second-text-color;
                    text-align: left;
                    padding: 0px 5px;
                    font-size: 1.4rem;
                }
                &-arow{
                    padding-left: 20px;
                }
            }
            
        }           

    }
            
}
       

/* Main content */
.main{
    &__row{
        width: 100%;
        height: 715px;
        @include flexbox(row, flex-start, space-between);
        margin-bottom: 150px;
        &-reverse{
            
            margin-top: 320px;
            @include flexbox(row-reverse ,flex-start, space-between);
            .main__column-list{
                text-decoration: none;
            }
            .main__column-item{
                @include flexbox(row, center, flex-start );
            }
            .item-one::before{
                content: '•';
                color:  #ff6adf;
                font-size: 10rem;              
            }
            .item-two::before{
                content: '•';
                color:  #92fa3c;
                font-size: 10rem;              
            }
            .item-three::before{
                content: '•';
                color:  #1ec0f4;
                font-size: 10rem;              
            }
            .item-four::before{
                content: '•';
                color:  #ff899c;
                font-size: 10rem;              
            }
        }
        &--three{
            
            .main__column-list{
                text-decoration: none;
                @include flexbox(row, space-evenly, flex-start,wrap);
                .main__column-item{
                    @include flexbox(column, flex-start, flex-start );
                    font-size: 1.6rem;
                    line-height: 2rem;
                    color: #6cc7d2;
                    width: 50%;
                    padding: 20px 20px 20px 0;
                    
                    i{
                        font-size: 2rem;
                        padding: 12px 15px;
                        background-color: #e4fbfe;
                        border: none;
                        border-radius: 10px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;
                        margin-bottom: 20px;
    
                    }
                    
                    &:nth-child(2) i{
                        background-color: #fef6e5;
                        color: #f6c04b;
                    }
                    &:nth-child(3) i{
                        background-color: #f9eefc;
                        color: #b482e4;
                    }
                    &:nth-child(4) i{
                        background-color: #ebfbee;
                        color: #82c68f;
                    }
    
                    h3{
                        color: $text-color;
                        font-weight: 500;
                        text-decoration: none;
                        margin-bottom: 16px;
                    }
                    p{
                        font-size: 1.4rem;
                        color: $second-text-color;
                        font-weight: 200;
                        text-decoration: none;
                    }
                }
            }

        }
    }
    &__column{
        &-large{
            width: 605px;
            height: 100%;
            max-width: 51.709%;
            background-color: rgba(255, 248, 222,0.5);
            border-top-left-radius: 30px;
                border-top-right-radius: 30px;  
                position: relative;
                @include flexbox(row, flex-end, center );
            &-img{
                max-width: 605px;
                max-height: 715px;
                height: 80%;
                width: 80%;
                border: none;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                // position: absolute;
                // bottom: 0;
                // left: 50%;
                // transition: translateX(-50%);
                // -webkit-transition: translateX(-50%);
                // -moz-transition: translateX(-50%);
                // -ms-transition: translateX(-50%);
                // -o-transition: translateX(-50%);
                &--special{
                    position: absolute;
                    top: 140px;
                    right: 0px;
                    height: 100%;
                    width: 100%;
                } 
                
            }
            &-two{
                background-color: rgba(251, 242, 255,0.5);
                
            }
            &-three{
                background-color: rgba(255, 237, 243,0.5);
            }
            
        }
        &-small {
            width: 460px;
            height: 100%;
            max-width: 39.317%;
            padding: 100px 0 0 0;
        }

        &-title{
            font-size: 3.5rem;
            text-align: left;
            line-height: 4.6rem;
        }
        &-des{
            margin: 35px 0;
            font-size: 1.6rem;
            line-height: 2.6rem;
            color: $second-text-color;
        }
        &-list{
            list-style: none;
            text-decoration: underline;
            font-size: 1.6rem;
            line-height: 2.6rem;
            font-weight: bold;
        }
        &-item{
            padding-bottom: 36px;
            &-link{
                color: $text-color;
                transition: all 0.3s;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
            }
            &:hover &-link{
                color: $primary-color;
            }
        }
        &-btn{
            cursor: pointer;
            outline: none;
            padding: 16px 50px;
            font-size: 2rem;
            font-weight: bold;
            color: #1a2b5f;
            background-image: linear-gradient(#ffea7b, #ffc97a);
            box-shadow: 0px 20px rgba(255, 234, 123,0.1);
            border: none;
            border-radius: 32px;
            -webkit-border-radius: 32px;
            -moz-border-radius: 32px;
            -ms-border-radius: 32px;
            -o-border-radius: 32px;
        }
    }
    
}

.partnes{
    @include flexbox(column, center, center);
    h2{
        font-size: 4rem;
        color: $text-color;
        padding:  0 256px 70px 256px;
        font-weight: bold;
        text-align: center;
        border-bottom: 2px solid $text-color;
    }
    &__list{
        @include flexbox(row, center, space-around);
        
    }
    &__item{

        padding: 65px 55px 96px 55px;
        &-link {
            width:100%;
            height: 100%;
        }

    }
    margin-bottom: 65px;
}

